body{
  background-color:black;
  margin:0;
  padding:0;
}

button {
    height: 3em;
    background-color: #d0d0d0;
    color: #3b3b3b;
    border: 0;
    border-radius: 20px;
    margin: 20px;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.video, .canvas {
    max-width: 100%;
  }
